<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

<svg width="960" height="600" preserveAspectRatio="xMidYMid meet"></svg>

<div id="update"></div>

<select name="datasets" id="datasets">
    <option value="landcover">land cover</option>
    <option value="marinedebris">marine debris</option>
</select>

<button id="newimagesbtn" onclick="reset();get_nodes()" type="button">new images</button>

<button id="btn" onclick="check_request_links()" type="button">predict!</button>
<button id="resetbtn" onclick="reset()" type="button">reset</button>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script type="text/javascript">

    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    var radius = 48;

    function arrayRemove(arr, value) {
        return arr.filter(function (ele) {
            return ele != value;
        });
    }

    //draw_rectangles(svg)

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var collideForce = d3.forceCollide().radius(function (d) {
        return radius
    });
    var linkForce = d3.forceLink().id(function (d) {
        return d.id;
    }).strength(0.03);
    var centerForce = d3.forceCenter(width / 2, height / 2);

    var simulation = d3.forceSimulation().alphaDecay(0.001)
        .force("link", linkForce)
        .force("collision", collideForce)
        //.force("charge", d3.forceManyBody().strength(-10))
        //.force("radial", d3.forceRadial(150, width / 2, height / 2).strength(0.01))
        .force("center", centerForce);

    var classes = ["class0", "class1", "class2", "class3"];
    var class_counter = 0;
    var available_classes = ["class0", "class1", "class2", "class3"];
    var active_classes = [];
    var nodes = null;
    var links = null;
    var payload = {};

    function get_nodes() {


        d3.json("/get_nodes?dataset=" + $("#datasets").val(), function (error, graph) {
            if (error) throw error;

            nodes = graph

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("g")
                .data(graph.nodes)
                .enter().append("g");


            svg.append('clipPath')
                .attr('id', 'clipObj')
                .append('circle')
                .attr('cx', radius / 2)
                .attr('cy', radius / 2)
                .attr('r', radius);

            //var circles = node.append("circle")
            //.attr("r", radius)
            //.attr("fill", function(d) { return color(d.group); })
            var circles = node.append("image")
                //.attr("xlink:href", "get_rgb_image?path=fall/1/Grassland/p176bl")
                .attr("xlink:href", function (d) {
                    return d.href;
                })
                .attr("x", -radius / 2)
                .attr("y", -radius / 2)
                .attr("width", 2 * radius)
                .attr("height", 2 * radius)
                .attr('clip-path', 'url(#clipObj)');

            /*
            var circles = node.append("circle")
                 .attr('cx',radius/2)
                 .attr('cy',radius/2)
                 .attr('r', radius+1)
                 .style('fill', "none")
                 .style('stroke-width', 2)
                 .style('stroke', "black");
            */
            var circles_border = node.append("circle")
                .attr('cx', radius / 2)
                .attr('cy', radius / 2)
                .attr('r', radius + 3)
                .attr('class', "circle");

            circles_border.on("click", function (d) {
                var el = d3.select(this);

                console.log(el.attr("class").replace("circle ", ""));
                console.log(d.id)

                // if class already assigned to one of the classes
                if (classes.includes(el.attr("class").replace("circle ", ""))) {
                    var classid = el.attr("class").replace("circle ", "")

                    // update lists
                    arrayRemove(active_classes, classid)
                    available_classes.push(classid)
                    delete payload[classid]

                    el.attr("class", "circle") // reset to no class in the element

                } else {
                    if (available_classes.length > 0) {
                        var classid = available_classes.pop();
                        el.attr("class", "circle " + classid);
                        active_classes.push(classid)
                        payload[classid] = d.id
                    }
                }
                class_counter += 1;
                updateInfo();
            });

            // Create a drag handler and append it to the node object instead
            var drag_handler = d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended);

            drag_handler(node);

            simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

            function ticked() {

                node
                    .attr("transform", function (d) {
                        // frame detection
                        x = Math.max(2 * radius, Math.min(width - 2 * radius, d.x));
                        y = Math.max(2 * radius, Math.min(height - 2 * radius, d.y));
                        return "translate(" + x + "," + y + ")";
                    })
            }


        });
    }

    function updateInfo() {
        $("#update").html("available classes: " + available_classes + " active classes: " + active_classes + " payload " + JSON.stringify(payload))
    }

    function between(min, p, max) {
        result = false;

        if (min < max) {
            if (p > min && p < max) {
                result = true;
            }
        }

        if (min > max) {
            if (p > max && p < min) {
                result = true
            }
        }

        if (p == min || p == max) {
            result = true;
        }

        return result;
    }

    function check_request_links() {
        if (Object.keys(payload).length >= 1) {

            document.getElementById("btn").innerHTML = "making associations..."
            data = {
                "nodes": nodes,
                "associations": payload
            }

            $.ajax({
                url: "/request_links",
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),
                success: add_force_links
            });
        }
    }

    function point_in_rectangle(x, y, left, top, right, bottom) {
        result = false;

        if (between(left, x, right) && between(top, y, bottom)) {
            result = true;
        }
        return result;
    }

    function dragstarted(d) {
        //if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.x = d.x;
        d.y = d.y;
    }

    function dragged(d) {
        d.x = d3.event.x;
        d.y = d3.event.y;
    }

    function dragended(d) {
        //if (!d3.event.active) simulation.alphaTarget(0);
        d.x = d.x;
        d.y = d.y;
        /*

        d.fx = d.x;
        d.fy = d.y;

         */
    }

    function reset() {
        // delete everything in the canvas
        d3.select('svg').selectAll('*').remove();

        // reset variables
        classes = ["class0", "class1", "class2", "class3"];
        available_classes = ["class0", "class1", "class2", "class3"];
        active_classes = [];
        nodes = null;
        links = null;
        payload = {};
        class_counter = 0;

        simulation.force("charge", d3.forceManyBody().strength(0));
        document.getElementById("btn").innerHTML = "predict!"
    }

    function add_force_links(data) {
        console.log(data)
        links = data.links;
        simulation.force("link").links(links);
        simulation.force("charge", d3.forceManyBody().strength(-20));
        document.getElementById("btn").innerHTML = "done!"
    }


    get_nodes()
    updateInfo()
</script>
